html{
    font-family:sans-serif;
}

body{
	display:flex;
	gap: 1em;
	padding: 1em;
	margin: 0 auto;
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
    max-width: 800px;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
    max-width: 400px;
  }
}

body>div{
	flex:1;
}


svg{background:wheat;height: inherit;width: inherit;/* flex: 1; *//* min-height: 320px; */border-radius: 1em;}


section>label {
    flex: 1;
    color: gray;
    font: italic .8rem sans-serif;
}

label>input, label>select{
	display:block;
    width:100%;
    box-sizing: border-box;
    margin: 0;
    font: normal 1.2rem sans-serif;
    padding: 2px;
    text-align:center;
}

section>h2 {
    font: italic 1em sans-serif;
    color: gray;
    margin: .5em;
    display: none;
}
section {
    display: flex;
    flex-direction: row;
    gap: .5em;
    padding: .5em;
    /* background: whitesmoke; */
    border-bottom: 1px solid lightgray;
    border-top: 1px solid white;
}

#result{
	/* position:absolute; */
	/* margin-top:-2em; */
	margin: .5em;
}


form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1px;
    border-radius: 1em;
    overflow: hidden;
    background: whitesmoke;
}

input[type="submit"] {
    font-size: 1.2rem;
    padding: .5em;
    margin: .5rem;
}

pre#atmos {
    position: absolute;
    margin: 1em;
    z-index: 1;
}

.plot {
    position: relative;
    width: 100%;
    flex: 1;
}