svg{background:wheat}
.trajectory{stroke:red;fill: none;}
input{display:block; }

form>section>label {
    width: 4em;
    display: inline-block;
    text-align: center;
    margin:.5em
}

label>input{
    width:100%;
}

input[type=number]{
    text-align:right
}

section>h2 {
    font: italic 1em sans-serif;
    color: gray;
    margin: .5em;
}
form>section {
    border: 1px solid lightgray;
    margin: .2em;
}