svg{background:wheat}
.trajectory{stroke:red;fill: none;}
input{display:block; }

html{
    font-family:sans-serif;
}

form>section>label {
    width: 4em;
    display: inline-block;
    text-align: center;
    margin:.5em
}

label>input, label>select{
    width:100%;
}

input[type=number]{
    text-align:right
}

section>h2 {
    font: italic 1em sans-serif;
    color: gray;
    margin: .5em;
}
form>section {
    border: 1px solid lightgray;
    margin: .2em;
}

#result{
	/* position:absolute; */
	/* margin-top:-2em; */
	margin: .5em;
}

#result>label{
	display:inline-block;
	margin-right: 1em;
}